/* mobile first styles */
body {
  font-size: 2rem;
}
.container {
  background-color: aquamarine;
}

/* Mobile first way to write media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 3rem;
    margin: 20px;
  }
  .container {
    background-color: fuchsia;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 4rem;
  }
  .container {
    background-color: forestgreen;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
