* {
  margin: 0;
}
body {
  font-family: sans-serif;
  display: flex;
  background-color: #f1f1f1;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  width: 300px;
  height: 400px;
}

.content-container {
  padding: 20px 30px;
  box-sizing: border-box;
}

.logo {
  width: 40%;
}

.top-container {
  text-align: center;
}

.top-container > img {
  margin-bottom: 25px;
}

.top-container > p {
  font-size: 10px;
  margin: 10px 0;
}

input[type='password'],
input[type='email'] {
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 8px;
  width: 100%;
  padding: 5px 0;
}

.check-ctr {
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.check-ctr > input {
  transform: scale(0.65);
  margin-right: 3px;
}

input[type='submit'] {
  width: 100%;
  background-color: #0677f4;
  border: none;
  border-radius: 3px;
  padding: 6px 0;
  color: #fff;
  font-size: 10px;
}

.pw-forgot {
  text-align: center;
  margin-top: 5px;
}

.pw-forgot > a {
  text-decoration: none;
  color: darkgray;
  font-size: 8px;
}

@media only screen and (min-width: 760px) {
  .container {
    box-shadow: 1px 6px 5px -5px rgba(0, 0, 0, 0.94);
    height: 300px;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    width: 600px;
    display: flex;
  }
  .content-container {
    width: 50%;
    height: 100%;
  }

  .img-container {
    width: 50%;
    height: 100%;
    background-image: url('portrait.jpg');
    background-size: 100%;
  }
}
